*.vscode
*a.exe
*Datasets
Assignment-3/Program1/titanic_project.csv
Assignment-3/Program2/titanic_project.csv
Assignment-2/.Rhistory
.venv
Assignment-5/Auto.csv
Assignment-6/tom_and_jerry
Assignment-6/tom_jerry_1